
/* icons */
@font-face {
    font-family: 'verdemoderna';
    src: url('verdemoderna.eot');
    src: url('verdemoderna.eot?#iefix') format('embedded-opentype'),
        url('verdemoderna.woff') format('woff'),
        url('verdemoderna.ttf') format('truetype'),
        url('verdemoderna.svg#verdemoderna') format('svg');
    font-weight: normal;
    font-style: normal;
}



* {
    box-sizing:border-box;
}

html,
body{
    margin: 0;
    padding:0;

}

body{
    color:#325050;
    background:#fff;
    font-family: 'Libre Baskerville', sans-seif;
    font-size: 70%;
}

a {
    text-decoration: none;
    color: #0d8ba1;
    transition: all 0.25s ease-out;
}

a:visited {
    color: #1a5952;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #0599c2;
}

abbr{
    border:none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}


header {
    height: 230px;
    padding: 20px 0 70px 0;
    background-repeat:repeat, repeat, repeat, no-repeat;
    background-attachment: fixed, fixed,fixed, scroll;
    background-image: url("contours.png"), url("noise.png"), url("gridlines.png"), url("huntington.jpg");
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-size: auto, auto, auto, cover;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 10%;
    margin: 0;
    color: #fff;
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;

}

h1::before {
    background: url(enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    height: 80px;
    width: 80px;
    margin: -20px 20px 0 0;
}

h2 {
    display: block;
    padding: 0 10%;
    margin: 0;
    font-weight: normal;
    font-size: 1.6em;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: none;
    color: #ffffff99;
}

h2::before{
    content: "";
    padding:50px;
}

h3 {
    text-transform: uppercase;
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    
}

p {
    margin: 0.75em 0;
    line-height: 2;
}

.page-wrapper {
    position: relative;
}

.summary,
.preamble {
    margin: 0 auto;
    width: 80%;
}

.supporting h3 {
    width:80%;
    margin-left:auto;
    margin-right:auto;

}

.intro a:hover::before {
    color:#fff;
    background:#357d93;
}

div.participation,
div.benefits {
    background-color: #8abc9f80;
    background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, fixed;
}

div.benefits {
    margin-bottom: 3em;
    padding-bottom: 3em;
}

div.participation p,
div.benefits p {
    margin-bottom: 0;
}

div.participation h3,
div.benefits h3 {
    padding-top: 50px;
    margin-top: 0;
}

.sidebar {
    background: #edf4f0;
}

.sidebar a {
display: none;
}

.sidebar a {
    color: #607476;
    text-decoration: none;
}

.sidebar a:hover,
.sidebar a:focus {
    color: #49968e;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.design-selection ul,
.zen-resources ul {
    margin: 0;
}



/* @media only screen and (min-width: 700px){
    #container {
        grid-template-columns: 3fr 1fr;
    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 2 / 3;
        grid-row: 1 / span 3;
        height: 100%;
    }
}  */