* {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr
}

header {
    font-size: 50px;
    background-image: url(huntington.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color:white;
    
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 45px;
    background-color:
}

.section1{
    
    
}

.section2{
    background-color:seagreen;
    background-image: url(bamboo.png);

}



footer {
    height: 50px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content{
    background-color: cornflowerblue;
}

@media only screen and (min-width: 700px){
    #container {
        grid-template-columns: 3fr 1fr;
    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 2 / 3;
        grid-row: 1 / span 3;
        height: 100%;
    }
}