body{
background-color:darkblue;
}
.header{
    text-align: center;
    background-image: url(daredevil.jpg);
    color: orangered;
}

.topnav{
    font-size: 25pt;
    background-color:none;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color:orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }


  .xmen{
      width:20%;
      height: 40%;
      display: flex;
  }

  .optimus{
      width:20%;
      height: 40%;
      display: flex;
  }

  .batman{
      width : 20%;
      height: 40%;
      display: flex;
  }

  .red{
      width: 20%;
      height: 40%;
      display: flex;
  }
  .new-comics{
      display: flex;
      justify-content: space-between;
      margin: 15pt;
  }

