h1{
    text-align: center;
    color:orangered;
}


  .xmen{
      width:20%;
      height: 40%;
      display: flex;
  }

  .optimus{
      width:20%;
      height: 40%;
      display: flex;
  }

  .batman{
      width : 20%;
      height: 40%;
      display: flex;
  }

  .red{
      width: 20%;
      height: 40%;
      display: flex;
  }
  .new-comics{
      display: flex;
      justify-content: space-between;
      margin: 15pt;
  }

