

.pinkBox{
    box-sizing: border-box; 
    font-size: 0px;
    background-color: #F5C6D6;
    padding: 100px;
    width: 200;
    height: 100px;
    
}

.magenta1{
    font-size: 0px;
    background-color: #EE2E84;
    box-sizing: content-box;
    width: 200px;
    height: 100px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.magenta2{
    display: inline-block;
    background-color: #EE2E84;
    width: 200px;
    height: 100px;
    padding: 50px;
    margin: 10px;
    padding: 25px;


}
.magenta3{
        background-color: #EE2E84;
        box-sizing: content-box;
        width: 200px;
        height: 100px;
        padding: 25px;
        margin: 10px;
        text-align: center;
        display: inline-block;

}

.magenta4{
        background-color: #EE2E84;
        box-sizing: content-box;
        width: 200px;
        height: 100px;
        padding: 25px;
        margin: 10px;
        display: inline-block
        

}
