.forms{
display:grid;

justify-content: space-between;
margin: 100px;
border-style: solid; 
width: 30%;
height: 50%;

padding: 20px;

}

.greeting{
    
}

.badge{
    border-style:solid;
    padding-top: 20px;
    width: 50%;
}